<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/frontend/iieum_favicon.ico" />
    <title>iieum: 이음</title>
    <script
      src="https://kit.fontawesome.com/f0ec34fd1a.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400&display=swap"
      rel="stylesheet"
    />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DN7RK8Q5RM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-DN7RK8Q5RM');
    </script>
  </head>
  <body>
    <div id="app">
      <!-- React will load here -->
    </div>
  </body>
  {% load static %}
  <script src="{% static 'frontend/main.js' %}"></script>
</html>
